

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@font-face {
    font-family: 'air_americaregular';
    src: url('../fonts/air-america/airamerica-regular.woff2') format('woff2'),
         url('../fonts/air-america/airamerica-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

body {
    color: black;
    font-family: 'latoregular';
    font-size: 16px;
}












